# Env
.env

# Data
data/
*.csv

# Outputs
outputs/
*.zip

# Offline packages (uploaded to Kaggle)
offline_packages/*.whl

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# HuggingFace cache
*.safetensors
*.bin
*.pt

output/
offload/

.ruff_cache/
.venv/